**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/.DS_Store
**/wwwroot/wwwroot
**/*.user
**/*.suo
**/*.sln.DotSettings.user
**/Migration/bin
**/Migration/obj
*.tar
*.log

